@media only screen and (min-width: 0px) and (max-width: 830px){
    .page-header-logo{
        height: 54px;
        line-height: 54px;
        margin-top: 0;
        font-size: 20px;
    }
    .menu-div{
        display: none;
    }
    .page-mobile-button{
        margin-top: 20px;
        float: right;
        width: 20px;
        height: 20px;
        background-image: url(../../pages/Home/images/mobmenu.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
    .page-mobile-button-close{
        margin-top: 23px;
        float: right;
        margin-right: 3px;
        width: 14px;
        height: 14px;
        background-image: url(../../pages/Home/images/mobmenuclose.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mobileMenuWrapper{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: white;
        left: 0;
        top: 0;
    }

    .mobile-menu-item{
        margin-top: 50px;
        display: inline-block;
        width: 100%;
        font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height */

text-align: center;

color: #A5ADC6;
    }

    .mobile-menu-social-line{
        margin-top: 70px;
        width: 100%;
    }


    .mobile-menu-social-line-item{
        color: black;
        display: inline-block;
        width: 20px;
        height: 20px;
        font-size: 18px;
    }

    .section-10-line-1-right-item{
        margin: 0 16px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 830px){
    .page-header{
        z-index: 9999999;
    }

    .section-1{
        height: auto;
        padding-bottom: 45px;
    }
    
    .master-wrapper{
        width: 100%;
        padding: 0 36px;
    }
    .master-wrapper-1{
       position: relative;
    }

    .section-1-right{
        background-position: center;
        position: absolute;
        width: 95%;
        height: 260px;
        left: 2.5%;
        top: 70px;
    }

    .section-1-left{
        height: auto;
        margin-top: 365px;
        position: relative;
        width: 100%;
        padding: 0 15px;
    }
    
    .section-1-left-inner{
        text-align: center;
        transform: none;
       position: static;

    }

    .section-1-left-inner-header{
        font-size: 40px;
        line-height: 60px;

        color: #212B4C;
        max-width: 340px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 1205px){
    .section-2-wrapper{
        margin-top: 40px;
    }
    .section-2{
        padding: 40px 0;
    }
    .section-2-wrapper-item-1{
        padding-right: 0;
        width: 100%;
    }
    .section-2-wrapper-item-3{
        padding-left: 0;
        width: 100%;
    }
    .section-2-wrapper-connector-1, .section-2-wrapper-connector-2{
        display: none;
    }

    .section-2-wrapper-item-1-inner{
        position: relative;
    }

    .section-2-mobile-line-1{
        position: absolute;
        bottom: -70px;
        right: 70px;
        width: 30px;
        height: 90px;
        transform: rotate(40deg);
        background-image: url(../../pages/Home/images/connector3mob.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }

    .section-2-mobile-line-2{
        position: absolute;
        top: -70px;
        right: 70px;
        width: 30px;
        height: 90px;
        transform: rotate(-40deg);
        background-image: url(../../pages/Home/images/connector6mob.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;

    }

    .section-2-wrapper-connector-1{
      
    }
    .section-2-wrapper-2-item-1{
        max-width: 318px;
        margin-top: 30px;
    }
    .section-2-wrapper-item-2{
        margin-top: 50px;
        width: 100%;
        max-width: 440px;
        height: calc(100vw - 72px);
        max-height: 440px;
    }
    .section-2-wrapper-item-1-inner{
        position: relative;
        max-width: 440px;
    }

    .section-2-wrapper-2{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
    }
    .section-2-wrapper-item-1-inner{
        margin-top: 156px;
    }
    .section-2-wrapper-item-1-inner-2{
        margin-top: 0;
    }
    .section-2-wrapper-2-item-2-inner{
        width: 90%;
        max-width: 440px;
    }
    .section-2-wrapper-2-item-3{
        max-width: 200px;
        display: block;

        margin: 30px auto 0 auto;
    }

    .section-2-wrapper-item-2-inner{
        padding: 0;
    }


    .section-2-wrapper-item-2-inner-icon{
        margin-top: calc(50% - 46px);
        width: 36px;
        height: 36px;
    }
    .section-2-wrapper-item-2-inner-username{
        font-size: 11px;
        margin-top: -3px;
    }
}

.section-3-mobile{
    display: none;
}

@media only screen and (min-width: 0px) and (max-width: 1120px){
    .section-3-title-2{
        font-size: 32px;
        line-height: 48px;
    }
    .section-3-wrapper{
        display: none;
    }
    .section-3-mobile{
        width: calc(100vw - 72px);
        display: inline-block;
    }
    .section-3-mobile-tabs-wrapper{
        padding-bottom: 10px;
        margin-right: 20px;
        text-align: left;
        margin-top: 40px;
        margin-bottom: 30px;
        width: 100%;
        overflow-x: scroll;
    }
    .section-3-mobile-tabs-wrapper-inner{
        min-width: 535px;
    }
    .section-3-mobile-tab{
        cursor: pointer;
        user-select: none;
        font-weight: 600;
        font-size: 19px;
        margin-right: 24px;
        line-height: 28px;
        height: 28px;
        /* identical to box height */

        
        color: #a6aab7;
    }
    .section-3-mobile-tab-active{
        color: #212B4C;
    }
    .section-3-wrapper-left-badge{
        width: 100%;
        padding: 20px;
        text-align: left;
    }
    .section-3-wrapper-left-connector-1{
        margin-left: 0;
        margin-right: 0;
    }
    .section-3-wrapper-left-image{
        margin-top: -15px;
    }
    .section-3-wrapper-left-image-1{
        max-width: 500px;
        max-height: 340px;
        width: 100%;
        height: 50vw;
        background-size: contain;

        background-position: top;
        background-repeat: no-repeat;
        background-image: url(../../pages/Home/images/mob1.png);
    }
    .section-3-wrapper-left-image-2{
        max-width: 650px;
        max-height: 430px;
        width: 100%;
        height: 90vw;
        background-size: contain;

        background-position: top;
        background-repeat: no-repeat;
        background-image: url(../../pages/Home/images/mob2.png);
    }
    .section-3{
        padding-bottom: 20px;
    }
    .section-3-mobile-content{
       
    }
    .mobile-spacer{
        width: 100%;
    }
    .section-3-wrapper-right-item{
        width: 100%;
        margin: 0;
        margin-bottom: 20px;
    }
    .section-3-wrapper-right-items-wrapper{
        margin-top: 0;
    }

    .section-3-wrapper-left-image-4-wrapper{
        max-width: calc(100vw - 72px);
        overflow-x: scroll;
    }

    .section-3-wrapper-left-image-4{
        min-width: 700px;
        height: 420px;
        background-image: url(../../pages/Home/images/pic.png);
        background-size: contain;
        background-position: top;
        background-repeat: no-repeat;
    }
}

@media only screen and (min-width: 0px) and (max-width: 950px){
    .section-4-left{
        margin-top: 0;
    }
    .section-4-left-inner-header, .section-4-left-inner-subheader{
        max-width: none;
        width: 100%;
        text-align: left;
    }
    .master-wrapper-4{
        text-align: left;
    }
    .section-4-badge{
        float: left;
    }
    .section-4-right{
        position: static;
        width: 100%;
        height: 300px;
        margin-top: 40px;
    }
    .section-5-line-1-left-title-2{
        line-height: 48px;
        font-size: 32px;
    }
}

@media only screen and (min-width: 0px) and (max-width: 1265px){
    .section-5-line-4-item-icon-2{
        margin-left: 10px;
    }
    .section-5-line-4-item-icon-3{
        margin-left: 23px;
    }
    .section-5-line-1-left{
        width: 100%;
    }
    .section-5-line-1-right{
        width: 100%;
        background-position: center;
        height: 320px;
        margin-top: 70px;
    }
    .section-5{
        padding: 30px 0;
    }
    .section-4{
        padding: 30px 0;
    }
    .section-3{
        padding: 30px 0;
    }
    .lines-mobile-wrapper{
        padding-bottom: 20px;
        width: 100%;
        overflow-x: scroll;
    }
    .section-5-line-2, .section-5-line-3, .section-5-line-4{
        min-width: 1200px;
    }
}




@media only screen and (min-width: 0px) and (max-width: 1050px){
    .section-7-item{
        width: 100%;
        margin-bottom: 55px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 800px){
    .section-8-item-left, .section-8-item-right{
        padding: 0;
        width: 100%;
    }
    .section-8-item{
        padding: 30px;
        position: relative;
    }
    .section-8-item-right{
        position: absolute;
        top: 0;
        left: 0;
    }
    .section-8-item-left{
        margin-top: 210px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 1110px){
    .section-9-left{
        margin-top: 20px;
        text-align: center;
        padding: 0;
        width: 100%;
    }
    .section-9-right{
        margin-top: 30px;
        margin-bottom: 30px;
        width: 100%;
        max-width: 600px;
    }
}


@media only screen and (min-width: 0px) and (max-width: 420px){
    .section-9-left-inner-button{
        width: 100px;
        float: right;
        font-size: 14px;
        height: 40px;
        line-height: 40px;
        margin-top: 9px;
    }
    .section-9-field{
        font-size: 15px;
        width: calc(100% - 102px)
    }
}